<div class="jumbotron center">

<h1>Welcome to Trydah!</h1>
	<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter Zip Code">
  </div>


  <button type="submit" class="btn btn-danger">Search</button>
</form>
	
</div>

